{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="background-color: #F1F2F2;">
                {% if user.is_authenticated %}
                <div class="card-body text-center">
                    <img class="rounded-circle text-center" height="100" width="100"
                        src="{% if request.user.display_img %}{{request.user.display_img.url}} {% else %} {% static 'imgs/no_display_img.jpg' %} {% endif %}">
                    <div class="h5 mt-2 mb-0"><a href="{% url 'users:profile' user.slug %}"
                            class="text-decoration-none">{{user.first_name | title }}
                            {{user.last_name | title}}</a></div>
                    <div class="h7 text-muted">{{user.bio | title}}</div>
                    <a class="btn btn-outline-danger mt-2" href="{% url 'users:edit' %}" role="button">Edit Profile</a>
                </div>
                {% endif %}
            </div>
            <div class="text-center mt-4 sticky-top">
                <div class="h7 text-muted">
                    Made With ❤ By <a href="https://github.com/singhkumarpratik">Pratik</a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <a href="{% url 'qnA:ask-question' %}" target="_blank" style="text-decoration: none;">
                <div class="card mb-2 mt-2">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="sr-only" for="message">post</label>
                            <h3 class="font-weight-bold text-muted">What is your question?</h3>
                        </div>
                    </div>
                </div>
            </a>
            <div class="infinite-container">
                {% for question in questions %}
                <div class="infinite-item mb-2">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="mr-2">

                                        {% if not question.is_anonymous %}
                                        <a href="{% url 'users:profile' question.user.slug %}">
                                            <img class="rounded-circle" width="45" height="45"
                                                src="{% if question.user.display_img %}{{question.user.display_img.url}} {% else %} {% static 'imgs/no_display_img.jpg' %} {% endif %}">
                                        </a>
                                        {% else %}
                                        <img class="rounded-circle" width="45" height="45"
                                            src="{% static 'imgs/no_display_img.jpg' %}">
                                        {% endif %}

                                    </div>
                                    <div class="ml-2">
                                        <div class="p m-0">
                                            {% if not question.is_anonymous %}
                                            <b>
                                                <a href="{% url 'users:profile' question.user.slug %}"
                                                    class="text-decoration-none">
                                                    {{question.user.first_name | title }}
                                                    {{question.user.last_name | title }}
                                                </a>
                                            </b> |
                                            {% else %}
                                            <i>Anonymous</i> |
                                            {% endif %}
                                            {{question.created_date |date:'d F, Y'}}
                                        </div>
                                        {% if not question.is_anonymous %}
                                        <div class="h7 text-muted">{{question.user.bio}}</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div>
                                    <h4 id="score{{question.pk}}">{{question.vote_score}}</h4>
                                    <div class="score-form" data-pk="{{question.pk}}">
                                        <input type="image" value="Up" name="up" class="Up{{question.pk}} upvote"
                                            id="upvote" data-pk="{{question.pk}}"
                                            src="{% static 'imgs/qnA/caret-up-square.svg' %}" />
                                        <input type="image" value="Down" name="down"
                                            class="Down{{question.pk}} downvote" data-pk="{{question.pk}}"
                                            src="{% static 'imgs/qnA/caret-down-square.svg' %}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <a href="{% url 'qnA:question_detail' question.slug %}" target="_blank" class="card-link">
                                <b>
                                    <h4 class="card-title crim">{{question}}</h4>
                                </b>
                            </a>
                            <a href="{% url 'qnA:question_detail' question.slug %}" target="_blank"
                                style="text-decoration: none; color:black;">
                                <div class="ans">
                                    {% if question.answer_set.all.0.ans %}
                                    {{question.answer_set.all.0.ans | safe | truncatewords_html:60}}
                                    {% else %}
                                    No Answer
                                    {% endif %}
                                </div>
                            </a>
                        </div>
                        {% if question.answer_set.all.0.ans %}
                        <div class=" card-footer">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="mr-2">

                                        {% if not question.answer_set.all.0.is_anonymous %}
                                        <a href="{% url 'users:profile' question.answer_set.all.0.user.slug %}"
                                            class="text-decoration-none">
                                            <img class="rounded-circle" width="45" height="45"
                                                src="{% if question.answer_set.all.0.user.display_img %}{{question.answer_set.all.0.user.display_img.url}} {% else %} {% static 'imgs/no_display_img.jpg' %} {% endif %}">
                                        </a>
                                        {% else %}
                                        <img class="rounded-circle" width="45" height="45"
                                            src="{% static 'imgs/no_display_img.jpg' %}">
                                        {% endif %}

                                    </div>
                                    <div class="ml-2">
                                        <div class="p m-0">
                                            {% if question.answer_set.all.0.is_anonymous %}
                                            <i>Anonymous</i> |
                                            {% else %}
                                            <b>
                                                <a href="{% url 'users:profile' question.answer_set.all.0.user.slug %}"
                                                    class="text-decoration-none">
                                                    {{question.answer_set.all.0.user.first_name | title }}
                                                    {{question.answer_set.all.0.user.last_name | title }}
                                                </a>
                                            </b> |
                                            {% endif %}
                                            {{question.answer_set.all.0.created_date|date:'d F, Y'}}
                                            {% if question.answer_set.all.0.created_date != question.answer_set.all.0.updated_date %}
                                            (Edited)
                                            {% endif %}
                                        </div>
                                        {% if not question.answer_set.all.0.is_anonymous %}
                                        <div class="h7 text-muted">{{question.answer_set.all.0.user.bio}}</div>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="card-footer">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="ml-2">
                                        <h4><a href="{% url 'qnA:answer' question.slug %}"
                                                class="text-decoration-none">Answer Now</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% if is_paginated %}
            <div class="d-flex flex-row justify-content-center align-items-center">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item mr-2">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    {% endif %}

                    <li class="page-item">
                        <span>Page {{ page_obj.number }} of
                            {{ page_obj.paginator.num_pages }}
                        </span>
                    </li>
                    {% if page_obj.has_next %}
                    <li class="page-item ml-2">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script src="{% static 'js/vote.js' %}"></script>
{% endblock scripts %}