{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="background-color: #F1F2F2;">
                {% if user.is_authenticated %}
                <div class="card-body text-center">
                    <img class="rounded-circle text-center" width="55" src="https://picsum.photos/50/50" alt="">
                    <div class="h5 mt-2 mb-0">{{user.first_name}} {{user.last_name}}</div>
                    <div class="h7 text-muted">{{user.bio}}</div>
                    <a class="btn btn-outline-danger mt-2" href="#" role="button">Edit Profile</a>
                </div>
                {% endif %}
            </div>
            <div class="text-center mt-4">
                <div class="h7 text-muted">
                    Made With ❤ By <a href="https://github.com/singhkumarpratik">Pratik</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="infinite-container">
                {% for question in questions %}
                <div class="infinite-item mb-4">
                    <div class="card gedf-card">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="mr-2">
                                        <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
                                    </div>
                                    <div class="ml-2">
                                        <div class="p m-0">
                                            <b>
                                                {{question.user.first_name}}
                                                {{question.user.last_name}}
                                            </b> |
                                            {{question.created_date |date:'d F, Y'}}
                                        </div>
                                        <div class="h7 text-muted">{{question.user.bio}}</div>
                                    </div>
                                </div>
                                <div>
                                    <h4 id="score{{question.pk}}">{{question.vote_score}}</h4>
                                    <div class="score-form" data-pk="{{question.pk}}"
                                        data-page="{% if page_obj.number %}{{page_obj.number }}{% endif %}">
                                        <input type="image" value="Up" name="up" class="Up{{question.pk}} upvote"
                                            id="upvote" data-pk="{{question.pk}}"
                                            src="{% static 'imgs/qnA/caret-up-square.svg' %}" />
                                        <input type="image" value="Down" name="down"
                                            class="Down{{question.pk}} downvote" data-pk="{{question.pk}}"
                                            src="{% static 'imgs/qnA/caret-down-square.svg' %}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <a href="{% url 'qnA:question_detail' question.slug %}" target="_blank" class="card-link">
                                <b>
                                    <h4 class="card-title crim">{{question}}</h4>
                                </b>
                            </a>
                            <div class="ans">
                                {% if question.answer_set.all.0.ans %}
                                {{question.answer_set.all.0.ans | safe}}
                                {% else %}
                                No Answer
                                {% endif %}
                            </div>
                        </div>
                        {% if question.answer_set.all.0.ans %}
                        <div class="card-footer">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="mr-2">
                                        <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
                                    </div>
                                    <div class="ml-2">
                                        <div class="p m-0">
                                            {% if question.answer_set.all.0.is_anonymous %}
                                            <i>Anonymous</i>
                                            {% else %}
                                            <b>
                                                {{question.answer_set.all.0.user.first_name}}
                                                {{question.answer_set.all.0.user.last_name}}
                                            </b> |
                                            {{question.answer_set.all.0.created_date|date:'d F, Y'}}
                                            {% if question.answer_set.all.0.created_date != question.answer_set.all.0.updated_date %}
                                            (Edited)
                                            {% endif %}
                                            {% endif %}
                                        </div>
                                        <div class="h7 text-muted">{{question.answer_set.all.0.user.bio}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="card-footer">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="ml-2">
                                        <h4><a href="{% url 'qnA:answer' question.slug %}">Answer Now</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% if is_paginated %}
            <div class="d-flex flex-row justify-content-center align-items-center">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item mr-2">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    {% endif %}

                    <li class="page-item">
                        <span>Page {{ page_obj.number }} of
                            {{ page_obj.paginator.num_pages }}
                        </span>
                    </li>
                    {% if page_obj.has_next %}
                    <li class="page-item ml-2">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script src="{% static 'js/vote.js' %}"></script>
{% endblock scripts %}