{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load comments %}
{% load comments_xtd %}
{% block content %}
<h1>{{question}}</h1>
<hr>
<h4><a href="{% url 'qnA:answer' question.slug %}">Answer</a></h4> | <b>{{question.answer_set.count}} Answers</b>
<hr>

{% if question.answer_set.count == 0 %}
<h4 class="text-center">No Answers</h4>
{% endif %}

{% for answer in question.answer_set.all %}
<div class="answer">
    {% if answer.is_anonymous %}
    <i>Anonymous</i>
    {% else %}
    <p>{{answer.user.first_name}} {{answer.user.last_name}}
        {% endif %}
        on {{answer.created_date}}
        {% if answer.created_date != answer.updated_date %}
        (Edited at {{answer.updated_date}})
        {% endif %}
    </p>
    {{answer.ans | safe}}
    <h4 id="score{{answer.pk}}">{{answer.vote_score}}</h4>
    <div class="score-form" data-pk="{{answer.pk}}">
        <input type="image" value="Up" name="up" class="Up{{answer.pk}} upvote" id="upvote" data-pk="{{answer.pk}}"
            src="{% static 'imgs/qnA/caret-up-square.svg' %}" />
        <input type="image" value="Down" name="down" class="Down{{answer.pk}} downvote" data-pk="{{answer.pk}}"
            src="{% static 'imgs/qnA/caret-down-square.svg' %}" />
    </div>
    <hr>
</div>
<div id="comments">
    {% if user.pk %}
    <div class="comment">
        <H4 class="text-center">Post your comment</H4>
        <div class="well">
            {% render_comment_form for answer %}
        </div>
    </div>
    {% else %}
    <a href="{% url 'users:login' %}">Login to Participate</a>
    {% endif %}
    {% get_comment_count for answer as comment_count %}
    {% if comment_count %}
    <H5 class="text-center">
        {% blocktrans count comment_count=comment_count %}
        There is {{ comment_count }} comment below.
        {% plural %}
        There are {{ comment_count }} comments below.
        {% endblocktrans %}
    </H5>
    <hr />
    {% endif %}

    {% if comment_count %}
    <hr />
    <ul class="media-list" id="comment-list">
        {% render_xtdcomment_tree for answer %}
    </ul>
    {% endif %}
</div>
{% endfor %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'js/vote.js' %}"></script>
{% endblock %}