{% extends "base.html" %}
{% load static %}
{% block content %}
{% block buttons %}
{% endblock buttons %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-5">
            <div class="card gedf-card">
                <div class="card-body text-center">
                    <img class="rounded-circle" height="100" width="100" src="{% if request.user.display_img %}{{request.user.display_img.url}} {% else %} {% static 'imgs/no_display_img.jpg' %} {% endif %}">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button class="btn btn-lg btn-danger btn-block">Update Profile</button>
                    </form>
                    </p>
                    <p class="text-muted">Made With ❤ By <a href="https: //github.com/singhkumarpratik">
                            Pratik</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}