{% extends "users/user_detail.html" %}
{% load static %}
{% block profile %}
<div class="user-profile">
    <h6 class="text-muted">{{followings|length}} Following</h6>
    {% if followings %}
    {% for following in followings %}
    <div class="card mb-2">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="mr-2">
                        <img class="rounded-circle" width="45" height="45"
                            src="{% if following.to_user.display_img %}{{following.to_user.display_img.url}} {% else %} {% static 'imgs/no_display_img.jpg' %} {% endif %}">
                    </div>
                    <div class="ml-2">
                        <div class="p m-0">
                            <b>
                                <a href="{% url 'users:profile' following.to_user.slug %}">

                                    {{following.to_user.first_name}}
                                    {{following.to_user.last_name}}
                                </a>
                            </b>
                        </div>
                        <div class="h7 text-muted">{{following.to_user.bio}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h4>{{user.first_name}} {{user.last_name}} is not following anyone yet.</h4>
    {% endif %}
</div>
{% endblock profile %}