{% extends "base.html" %}
{% load static %}
{% block title %}{{user.first_name | title}} {{user.last_name | title}}'s Profile{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="d-flex flex-row justify-content-center">
                <div>
                    <img class="rounded-circle text-center mr-4" height="100" width="100"
                        src="{% if user.display_img %}{{user.display_img.url}} {% else %} {% static 'imgs/no_display_img.jpg' %} {% endif %}">
                </div>
                <div class="align-self-center">
                    <h1 class="crim">{{user.first_name | title}} {{user.last_name | title}}</h1>
                    <h6 class="text-muted">{{user.bio}}</h6>
                </div>
                <hr>
                <div class="align-self-center">
                    {% if request.user != user %}
                    {% if is_following %}
                    <a class="btn btn-outline-danger mr-4" href="{% url 'users:follow_unfollow' user.slug %}"
                        role="button" id="follow">Unfollow</a>
                    {% else %}
                    <a class="btn btn-danger mr-4" href="{% url 'users:follow_unfollow' user.slug %}" role="button"
                        id="follow">Follow</a>
                    {% endif %}
                    {% endif %}
                </div>

            </div>
            <hr>
            <div class="links">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-outline-danger" href="{% url 'users:profile' user.slug %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-outline-danger"
                            href="{% url 'users:profile_questions' user.slug %}">Questions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-outline-danger"
                            href="{% url 'users:profile_answers' user.slug %}">Answers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-outline-danger"
                            href="{% url 'users:followers' user.slug %}">Followers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-outline-danger"
                            href="{% url 'users:following' user.slug %}">Following</a>
                    </li>
                </ul>
            </div>
            <hr>
            {% block profile %}
            {% if answers %}
            <h4 class="crim text-center mb-4">{{user.first_name | title}} {{user.last_name | title}}'s Pinned Answers
            </h4>
            <div class="user-profile">
                {% for answer in answers %}

                {% if not answer.is_anonymous %}
                <div class="card mb-4">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mr-2">
                                    <img class="rounded-circle" width="45" height="45"
                                        src="{% if answer.question.user.display_img %}{{answer.question.user.display_img.url}} {% else %} {% static 'imgs/no_display_img.jpg' %} {% endif %}">
                                </div>
                                <div class="ml-2">
                                    <div class="p m-0">
                                        <a href="{% url 'users:profile' answer.question.user.slug %}"
                                            class="text-decoration-none">
                                            <b>
                                                {{answer.question.user.first_name | title}}
                                                {{answer.question.user.last_name | title}}
                                            </b>
                                        </a> |
                                        {{answer.question.created_date |date:'d F, Y'}}
                                    </div>
                                    <div class="h7 text-muted">{{answer.question.user.bio}}</div>
                                </div>
                            </div>
                            <div>
                                <h4 id="score{{answer.question.pk}}">{{answer.question.vote_score}}</h4>
                                <div class="score-form" data-pk="{{answer.question.pk}}" data-profile="True">
                                    <input type="image" value="Up" name="up" class="Up{{answer.question.pk}} upvote"
                                        id="upvote" data-pk="{{answer.question.pk}}" data-profile="True"
                                        src="{% static 'imgs/qnA/caret-up-square.svg' %}" />
                                    <input type="image" value="Down" name="down"
                                        class="Down{{answer.question.pk}} downvote" data-pk="{{answer.question.pk}}"
                                        data-profile="True" src="{% static 'imgs/qnA/caret-down-square.svg' %}" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <a href="{% url 'qnA:question_detail' answer.question.slug %}" target="_blank"
                            class="card-link">
                            <b>
                                <h4 class="card-title crim">{{answer.question}}</h4>
                            </b>
                        </a>
                        <a href="{% url 'qnA:question_detail' answer.question.slug %}" target="_blank"
                            style="text-decoration: none; color:black;">
                            <div class="ans">
                                {{answer.ans | safe | truncatewords_html:60}}
                            </div>
                        </a>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="mr-2">
                                    <img class="rounded-circle" width="45" height="45"
                                        src="{% if answer.user.display_img %}{{answer.user.display_img.url}} {% else %} {% static 'imgs/no_display_img.jpg' %} {% endif %}">
                                </div>
                                <div class="ml-2">
                                    <div class="p m-0">
                                        {% if answer.is_anonymous %}
                                        <i>Anonymous</i>
                                        {% else %}
                                        <a href="{% url 'users:profile' answer.user.slug %}"
                                            class="text-decoration-none">
                                            <b>
                                                {{answer.user.first_name | title}}
                                                {{answer.user.last_name | title}}
                                            </b>
                                        </a> |
                                        {{answer.created_date|date:'d F, Y'}}
                                        {% if answer.created_date != answer.updated_date %}
                                        (Edited)
                                        {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="h7 text-muted">{{answer.user.bio}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% else %}
            <h4 class="crim text-center mb-4">{{user.first_name | title}} {{user.last_name | title}} has not pinned any
                answers.
            </h4>
            {% endif %}

            {% endblock profile %}
        </div>
        <div class="col-md-3 sticky-top">
            hi
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script src="{% static 'js/vote.js' %}"></script>
<script src="{% static 'js/follow_toggler.js' %}"></script>
{% endblock scripts %}